<h1>{{error}}</h1>
<hr>

<h2>Try this:</h2>

Set a view engine, like:

<pre><div lineno=1> app.set("view engine","hbs")</div></pre>

<a href='https://expressjs.com/en/guide/using-template-engines.html'>Read more</a>

<pre>
</pre>
